<p-toolbar>
  <div class="p-toolbar-group-left">
    <span style="flex: 1;">Office Management System</span>
  </div>
  <div class="p-toolbar-group-center">
    <button pButton type="button" label="Office Presence" routerLink="/presence"></button>
    <button pButton type="button" label="Car Management" routerLink="/cars"></button>
  </div>
  <div class="p-toolbar-group-right">
    <button pButton type="button" label="Sign In" routerLink="/sign-in"></button>
    <button pButton type="button" label="Register" routerLink="/register"></button>
    <span *ngIf="isLoggedIn">{{ fullName }}</span>
    <button *ngIf="isLoggedIn" pButton type="button" label="Logout" (click)="logout()"></button>
  </div>
</p-toolbar>

<router-outlet></router-outlet>