<div class="car-container">
  <h2 class="heading">Car Registration</h2>
  
  <form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="form-container">

    <div class="p-field">
      <p-dropdown [style]="{'width':'65%'}" [showClear]="true" [options]="employees" optionLabel="fullName" [filter]="true" filterBy="fullName"
        placeholder="Select an Employee" optionValue="id" formControlName="employeeId">
      </p-dropdown>
    </div>
    <em class="error" *ngIf="carForm.get('employeeId')?.hasError('required') && carForm.get('employeeId')?.touched">Employee is required</em>
    
    <div class="p-field">
      <p-floatLabel>
      <input [style]="{'width':'65%'}" pInputText id="brand" formControlName="brand">
      <label for="brand">Car Brand</label>
    </p-floatLabel>
    </div>
    <em class="error" *ngIf="carForm.get('brand')?.hasError('required') && carForm.get('brand')?.touched">Brand is required</em>
    

    <div class="p-field">
      <p-floatLabel>
      
      <input [style]="{'width':'65%'}" pInputText id="registrationPlate" formControlName="registrationPlate">
      <label for="registrationPlate">Registration Plate</label>
    </p-floatLabel>
    </div>
    <em class="error" *ngIf="carForm.get('registrationPlate')?.hasError('required') && carForm.get('registrationPlate')?.touched">Registration plate is required</em>

    <button [style]="{'width':'100%'}" pButton type="submit" label="Register Car" [disabled]="!carForm.valid" class="p-button-primary"></button>
  </form>

  <div class="car-list">
    <h3>Registered Cars</h3>
    <p-table [value]="cars">
      <ng-template pTemplate="header">
        <tr>
          <th>Employee Name</th>
          <th>Brand</th>
          <th>Registration Plate</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>{{car.employeeName}}</td>
          <td>{{car.brand}}</td>
          <td>{{car.registrationPlate}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>