
    <div class="car-container">
      <h2>Car Registration</h2>
      
      <form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="car-form">
        <mat-form-field>
          <mat-label>Employee Name</mat-label>
          <mat-select formControlName="employeeId">
            <mat-option *ngFor="let employee of employees$ | async" [value]="employee.id">
              {{employee.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Car Brand</mat-label>
          <input matInput formControlName="brand">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Registration Plate</mat-label>
          <input matInput formControlName="registrationPlate">
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="!carForm.valid">
          Register Car
        </button>
      </form>

      <div class="car-list">
        <h3>Registered Cars</h3>
        <mat-table [dataSource]="carsDataSource">
          <ng-container matColumnDef="employeeName">
            <mat-header-cell *matHeaderCellDef> Employee Name </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{car.employeeName}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="brand">
            <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{car.brand}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="registrationPlate">
            <mat-header-cell *matHeaderCellDef> Registration Plate </mat-header-cell>
            <mat-cell *matCellDef="let car"> {{car.registrationPlate}} </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>