<div class="car-container">
  <h2>Car Registration</h2>
  
  <form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="car-form">

    <div class="p-field">
      <label for="brand">Car Brand</label>
      <input pInputText id="brand" formControlName="brand">
    </div>

    <div class="p-field">
      <label for="registrationPlate">Registration Plate</label>
      <input pInputText id="registrationPlate" formControlName="registrationPlate">
    </div>

    <button pButton type="submit" label="Register Car" [disabled]="!carForm.valid" class="p-button-primary"></button>
  </form>

  <div class="car-list">
    <h3>Registered Cars</h3>
    <p-table [value]="carsDataSource">
      <ng-template pTemplate="header">
        <tr>
          <th>Employee Name</th>
          <th>Brand</th>
          <th>Registration Plate</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-car>
        <tr>
          <td>{{car.employeeName}}</td>
          <td>{{car.brand}}</td>
          <td>{{car.registrationPlate}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>