<form [formGroup]="presenceForm" (ngSubmit)="onSubmit()" class="form-container">
  <h2>Office Presence Registration</h2>

  <div class="p-field">
    <label for="date">Date</label>
    <p-calendar  [style]="{'width':'65%'}"id="date" formControlName="date" class="input-field"></p-calendar>
  </div>

  <div class="p-field">
    <label for="employeeName">Employee</label>
    <p-dropdown [style]="{'width':'65%'}" [showClear]="true" [options]="employees" optionLabel="fullName" [filter]="true" filterBy="fullName"
      placeholder="Select an Employee" optionValue="id" formControlName="employeeId">
    </p-dropdown>
  </div>

  <div class="p-field">
    <label for="room">Room</label>
    <p-dropdown [style]="{'width':'65%'}" id="room" [options]="rooms" optionLabel="number" optionValue="id" formControlName="roomId"
      class="input-field"></p-dropdown>
  </div>

  <div class="p-field-checkbox">
    <p-checkbox id="needsParking" formControlName="needsParking" binary="true" class="input-field"></p-checkbox>
    <label for="needsParking">Need Parking Spot</label>
  </div>

  <div *ngIf="presenceForm.get('needsParking')?.value">
      <div class="p-field">
        <label for="car">Select your car</label>
        <p-dropdown [style]="{'width':'65%'}" id="car" [options]="filteredCars" optionLabel="registrationPlate" optionValue="id" formControlName="car"
          class="input-field" [disabled]="!presenceForm.get('employeeId')?.value"></p-dropdown>
      </div>
    <div class="p-field">
      <label for="parkingSpot" >Parking Spot</label>
      <p-dropdown [style]="{'width':'65%'}" id="parkingSpot" [options]="parkingSpots" optionLabel="number" optionValue="id" formControlName="parkingSpot"
        class="input-field"></p-dropdown>
    </div>
    
    <div class="p-field">
      <label for="parkingArrivalTime">Arrival Time</label>
      <p-calendar id="parkingArrivalTime" formControlName="parkingArrivalTime" class="input-field"
                  [showTime]="true" [timeOnly]="true" hourFormat="24"></p-calendar>
    </div>

    <div class="p-field">
      <label for="parkingDepartureTime">Departure Time</label>
      <p-calendar id="parkingDepartureTime" formControlName="parkingDepartureTime" class="input-field"
      [style]="{'width':'55%'}" [showTime]="true" [timeOnly]="true" hourFormat="24"></p-calendar>
    </div>

    <div class="p-field">
      <label for="notes">Notes</label>
      <textarea pInputTextarea id="notes" formControlName="notes" class="input-field"></textarea>
    </div>
  </div>

  <button pButton type="submit" label="Submit" [disabled]="!presenceForm.valid"></button>
</form>

<div class="presence-list">
  <h3>All future office presences</h3>
  <p-table #dt [value]="allPresences" (sortFunction)="customSort($event)" [customSort]="true"
    [globalFilterFields]="['employeeName', 'roomNumber','date','employeeTeam', 'parking', 'notes']">
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input pInputText type="text" [(ngModel)]="searchValue" (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Search keyword" />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="employeeName">
          Employee <p-sortIcon field="employeeName" />
        </th>
        <th pSortableColumn="roomNumber">
          Room <p-sortIcon field="roomNumber" />
        </th>
        <th pSortableColumn="date">
          Date <p-sortIcon field="date" />
        </th>
        <th pSortableColumn="employeeTeam">
          Team <p-sortIcon field="employeeTeam" />
        </th>
        <th pSortableColumn="notes">
          Notes <p-sortIcon field="notes" />
        </th>
        <th pSortableColumn="parkingSpot">
          Parking <p-sortIcon field="parking" />
        </th>
        <th>
           Parking start
        </th>
        <th>
          Parking ends
       </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-presence>
      <tr>
        <td>{{presence.employeeName}}</td>
        <td>{{presence.roomNumber}}</td>
        <td>{{presence.date}}</td>
        <td>{{presence.employeeTeam}}</td>
        <td>{{presence.notes}}
          <div *ngIf="!presence.notes">-</div>
        </td>
        <td>
          <div *ngIf="presence.parkingSpot">№<i [ngClass]="'bi bi-' + presence.parkingSpot + '-square'"></i></div>
          <div *ngIf="!presence.parkingSpot">-</div>
        </td>
        <td>
          {{presence.parkingArrivalTime}}
          <div *ngIf="!presence.parkingSpot">-</div>
        </td>
        <td>
          {{presence.parkingDepartureTime}}
          <div *ngIf="!presence.parkingSpot">-</div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>