/* You can add global styles to this file, and also import other style files 

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
*/
@import "primeng/resources/themes/saga-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


.p-button {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.p-float-label input:focus ~ label, .p-float-label input.p-filled ~ label, .p-float-label textarea:focus ~ label, .p-float-label textarea.p-filled ~ label, .p-float-label .p-inputwrapper-focus ~ label, .p-float-label .p-inputwrapper-filled ~ label {

    transform: translateY(-0.5em);
}

.form-container {
  text-align: center;
    max-width: 600px;
    margin-top: 30px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;

  }
  
  .p-field {
    margin-top: 10px; 
    margin-bottom: 10px; 
  }


  button[pButton] {
    margin-top: 20px;
  }

  .presence-list {
    text-align: center;
    margin-top: 30px;
  }
  .heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .p-float-label {
    display: inline;
  }
  .p-calendar-timeonly{
    margin-top: 9px;
    margin-bottom: 9px;
  }